<div class="pure-u-1-4">
	<div class="sheet-panel sheet-sidebar">
		{{#if @blog.logo}}
		<img class="sheet-sidebar-logo" src="{{@blog.logo}}" alt="{{@blog.title}} Logo" />
		{{/if}}
		{{#if @blog.description}}
		<p class="sheet-sidebar-desc">{{@blog.description}}</p>
		{{/if}}
		<div class="sheet-sidebar-subscribe"><a class="sheet-btn" href="{{@blog.url}}/rss/"><i class="fa fa-rss-square"></i> <span>Subscribe</span></a></div>
	</div>
</div>
