<div class="pure-u-1-4">
	<div class="sheet-panel sheet-sidebar">
		{{#if @blog.logo}}
		<img class="sheet-sidebar-logo" src="{{@blog.logo}}" alt="{{@blog.title}} Logo" />
		{{/if}}
		{{#if @blog.description}}
		<p class="sheet-sidebar-desc">{{@blog.description}}</p>
		{{/if}}
	</div>

	<div id="social-accounts" class="sheet-panel sheet-sidebar">
		<ul>
			<li><a href="http://www.instagram.com/letsgosweetie"><i class="fa fa-instagram"></i></a></li>
			<li><a href="http://www.twitter.com/r4spberry_"><i class="fa fa-twitter"></i></a></li>
			<li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss-square"></i></a></li>
		</ul>
	</div>

	<div class="sheet-panel sheet-sidebar">
		<p>Mes coups de coeur :</p>
		<ul>
			<li><a href="http://www.rue-camille.fr">Rue Camille</a></li>
			<li><a href="http://www.unepouleapetitspas.com/">Le blog de la Poule</a></li>
			<li><a href="http://bysandrahand.canalblog.com/">By Sandra Hand</a></li>
			<li><a href="http://bymaggot.fr/">By Maggot</a></li>
			<li><a href="http://lathelize.blogspot.fr/">Lathelize</a></li>
			<li><a href="http://blog.vanessapouzet.com/">Vanessa Pouzet</a></li>
			<li><a href="http://www.desfillesaretordre.com/">Des Filles à Retordre</a></li>
			<li><a href="http://pachi-pachi.fr/">The Wearability Project</a></li>
			<li><a href="http://sewmanyways.blogspot.fr/">Sew Many Ways</a></li>
			<li><a href="http://www.ivanne-s.fr/">Grains de couture</a></li>
		</ul>
	</div>
</div>
